body{
    background-color: #080a0c;

}
.rocket{
    width: 375px;
    height: 375px;

}
.text{
    color: white;
    font-size: 40px;
    line-height: 56px;
    font-weight: 700;
    text-align: center;
}
button{
    color: white;
    background-color: #202832;
   padding: 12px 130px;
    border-radius: 80px;
    position: absolute;
    
}
.rocked{
display: flex;
align-items: center;
justify-content: center;
}
.btndiv{
    display: flex;
    align-items: center;
    justify-content: center;
}
